{% load tz %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>ToDo-App</title>
    <style media="screen">
      body{
        margin-top:10px;
        background-color:powderblue;
        font-size:100%;
      }
      .card{
        position: fixed;
        top: 25%;
        left: 40%;
      }
      .form-row
      {
        position: fixed;
        top: 10%;
        left: 39%;
      }
      .alert
      {
        width:20rem;
        position: fixed;
        top: 3%;
        left: 40%;
      }
    </style>
  </head>
  <body>
    {% if messages %}
    {% for msg in messages %}
    <div class="alert alert-{{ msg.tags }}" role="alert">
      {{msg}}
    </div>
    {% endfor %}
    {% endif %}
    <form method="post" action="{% url 'todoapp' %}">
      {% csrf_token %}
    <div class="form-row align-items-center col-sm-9 my-8">
      <div class="col-sm-4 my-4">
        <label class="sr-only" for="inlineFormInputName">Name</label>
        <input type="text" class="form-control" id="inlineFormInputName" placeholder="enter your task" name='todo'>
      </div>
      <div class="col-sm-0 my-5">
        <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
      </div>
      <div class="col-auto my-1">
        <button type="submit" class="btn btn-primary">add item</button>
      </div>
    </div>
  </form>


            <div class="card" style="width: 20rem;">
        <ul class="list-group list-group-flush">
          {% for todo in task %}
          <li class="list-group-item"> {{todo.task}} <br><p>date : {{todo.time|timezone:"Asia/Kolkata"|date:'M d, Y'}}</p></li>

        </ul>
        {% endfor %}
      </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
